/* ====== Загальні стилі ====== */

/* селектор тегу (показ ще раз, але це ок) */
h1 {
    margin-bottom: 6px;
}

/* селектор класу */
.section-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
}

/* ====== Position ====== */

.pos-box {
    position: relative; /* база для absolute всередині */
    border: 1px solid #333;
    padding: 12px;
    width: 420px;
    margin: 10px 0;
}

.badge {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 4px 6px;
    border: 1px solid #333;
    background: #fff;
    font-size: 12px;
}

/* fixed позиціонування */
.fixed-hint {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid #333;
    background: #fff;
    padding: 6px 10px;
    font-size: 12px;
}

/* ====== Float ====== */

.float-demo {
    border: 1px solid #ccc;
    padding: 10px;
    width: 700px;
    max-width: 100%;
}

.float-img {
    float: left;
    margin: 0 12px 8px 0;
    border: 1px solid #000;
}

/* очистка float */
.clearfix {
    clear: both;
}

/* ====== Кастомні маркери списку ====== */

.custom-list {
    list-style: none; /* прибираємо стандартні */
    padding-left: 0;
}

    .custom-list li {
        padding-left: 28px;
        margin: 8px 0;
        position: relative;
    }

        .custom-list li::before {
            content: "";
            width: 14px;
            height: 14px;
            border: 2px solid #003366;
            position: absolute;
            left: 0;
            top: 3px;
            box-sizing: border-box;
        }

/* ====== Flexbox по зразку ====== */

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: 420px;
    border: 1px solid #999;
    padding: 18px;
}

.tile {
    width: 110px;
    height: 110px;
    border: 2px solid #001a66;
    background: #001a66;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


    .tile.tall {
        height: 240px; /* високий */
    }
